:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --main-background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: var(--main-background-color);
}

.list-style {
  list-style: none;
}

.text-decor {
  text-decoration: none;
}

.hover-style:hover,
hover-style:focus {
  color: var(--accent-color);
}

/* Шапка общая*/

.logo {
  font-family: 'Raleway';
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.link-style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Основной контент - главная */

.hero-section {
  background: #2f303a;
}

.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-section-button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #2196f3;
  color: var(--white-text-color);
}

.skill-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.scill-section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.work-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section {
  background: #f5f4fa;
}

.team-section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-section-person {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Основной контент - портфолио*/

.main-section-button {
  font-family: 'Roboto';
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  cursor: pointer;
}

.main-section-button:hover,
.main-section-button:focus {
  background-color: #2196f3;
  color: var(--white-text-color);
}

.main-section-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.main-section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Футер общий*/

.footer-section {
  background-color: #2f303a;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-text-color);
}

.footer-logo-accent {
  color: var(--accent-color);
}

.footer-adress-style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.footer-contacts-style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
